.navbar{
    position: fixed;
    background:rgb(18, 72, 109);
    top:0;
    left:0;
    width:100%;
    height:100px;
}

.team-container{
    position: relative;
    width:1000px;
    margin:250px auto;
}

.team-picture{
    float:left;
    box-shadow: 0px 0px 2px 1px rgba(133,133,133,1);
    position: relative;
    margin-left:20px;
    height:350px;
    width:300px;
    background:white;
    border:medium double rgb(155, 155, 155);
}
li{
    float:left;
    margin-left:20px;
    color:white;
    font-family: sans-serif;
    font-size: 22px;
    cursor: pointer;
}

li:hover{
    color:rgb(255, 211, 66);
}

ul{
   position: relative;
   top:20px;
   left:32%;
   list-style: none;
}